/* Created by Nicholas J. Phillips (LagSwitchedVirginity) @ 1/24/2019 */
/* Reset css */
html, body, div, span, applet, object, iframe,
h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, div, summary,
time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%;
	font: inherit; vertical-align: baseline; }

html, body { height:100%; width:100%; padding:0; margin:0; box-sizing: border-box; font-size: 0.9em;}
*, *:before, *:after { box-sizing: inherit; }
body { background-color: #111; font-family: Hack, monospace; }
a,
a:visited {color: inherit;}
footer { position: fixed; bottom: 0; width: 100%; z-index: 1; }
footer ul { padding:0; margin:0; list-style-type: none; }
footer ul li { display: inline; }
footer ul li button,
footer ul li a,
footer ul li a:visited {
	padding: 10px; margin: 5px;
	border: 1px solid #333; background-color: #333;
	color: #ddd; border-radius: 4px; cursor: pointer;
	display: inline-block; text-decoration: none;
	font-family: Hack; font-size: 0.9em;
}
footer ul li button:hover,
footer ul li a:hover { border-color: #ddd; }
#terms { height: 100%; width: 100%; }
.term { height:100%; width:100%; float: left;
	border-top: 3px solid #111; border-left: 1px solid #000;}
.term:hover { border-top: 3px solid #333; }
.term:after { position: absolute; top:1%; right:1%; }
/* To avod the prompt being behind the footer bar */
.term .prompt {padding-bottom: 60px !important; }